
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin/Layout.cshtml";
}
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            @{Html.RenderAction("TopBar", "AdminLayout");}
        </div><!--/.container-fluid-->
    </div><!--/.navbar-inner-->
</div>

<div class="main-container container-fluid">
    <a class="menu-toggler" id="menu-toggler" href="#">
        <span class="menu-text"></span>
    </a>

    <div class="sidebar" id="sidebar">
        @{Html.RenderAction("Menu", "AdminLayout");}
    </div>

    <div class="main-content">
        
        @{Html.RenderAction("BreadScrumbs", "AdminLayout");}
        <div class="page-content">
          @{Html.RenderAction("MainContent","AdminLayout");}
        </div><!--/.page-content-->

        @{Html.RenderAction("Setting", "AdminLayout");}
 </div><!--/.main-content-->
</div>
