<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Home/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Home/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Home/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/Home/css/price-range.css" rel="stylesheet" />
    <link href="~/Content/Home/css/animate.css" rel="stylesheet" />
    <link href="~/Content/Home/css/main.css" rel="stylesheet" />
    <link href="~/Content/Home/css/responsive.css" rel="stylesheet" />
</head>
<body>
    <div>
        @{Html.RenderAction("Header", "HomeLayout");}
        @RenderBody()
        @{Html.RenderAction("Footer", "HomeLayout");}
    </div>
    <script src="~/Content/Home/js/jquery.js"></script>
    <script src="~/Content/Home/js/bootstrap.min.js"></script>
    <script src="~/Content/Home/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/Home/js/price-range.js"></script>
    <script src="~/Content/Home/js/jquery.prettyPhoto.js"></script>
    <script src="~/Content/Home/js/main.js"></script>
</body>
</html>
