<div class="col-sm-9 padding-right">
    @{Html.RenderAction("FeaturedItemsBox", "HomeLayout");}
    @{Html.RenderAction("CategoryTab", "HomeLayout");}
    @{Html.RenderAction("RecommendedItemsBox", "HomeLayout");}
</div>
